main  {min-height:calc(100vh - 120px);}
body  {background:#fff; color:#444; font-family:"Open Sans", sans-serif;}
a  {color:#1bb1dc; text-decoration:none; transition:0.5s;}
a:hover, a:active, a:focus  {color:#0a98c0; outline:none; text-decoration:none;}
p  {padding:0; margin:0 0 10px 0;}
h1, h2, h3, h4, h5, h6  {font-family:"Montserrat", sans-serif; font-weight:400; margin:0 0 20px 0; padding:0;}
section  {overflow:hidden;}
.section-bg-grey  {background:#f5f8fd;}
.header  {background:#fff; transition:all 0.5s; z-index:997; height:90px;}
.header .header-scrolled  {background:#fff; height:70px; box-shadow:0px 0px 30px rgba(127, 137, 161, 0.3);}
.header .logo  {font-size:20px; margin:0; padding:0; font-weight:400; letter-spacing:3px;}
.header .logo a  {color:#413e66;}
.header .logo img  {max-height:20px;}
.header .social-links  {margin:0 0 0 20px; display:inline-flex; align-items:center; justify-content:center;}
.header .social-links a  {color:#555186; transition:0.3s; line-height:0; margin-left:15px;}
.header .social-links a i  {line-height:0;}
.header .social-links a:hover  {color:#1bb1dc;}
.header-gap  {height:6rem; background-color:rgba(255, 255, 255, 0.1); border-width:1px 0;}
.project-links  {padding:60px 0;}
.project-links h4  {font-weight:600; font-size:24px;}
.site-description  {background:#d68592; background-size:cover; padding:40px 0;}
.feature-title  {color:#fff; font-size:28px; font-weight:700;}
.feature-paragraph  {color:#fff;}
.site-description-button  {font-family:"Montserrat", sans-serif; font-weight:700; font-size:16px; letter-spacing:1px; display:inline-block; padding:8px 26px; border-radius:3px; transition:0.5s; margin:10px; border:3px solid #fff; color:#fff;}
.site-description-button:hover  {background:#ffffff; border:3px solid #ffffff; color:rgb(124, 124, 124);}
.footer  {padding:0 0 30px 0; font-size:14px; background:#f5f8fd;}
.footer .footer-content  {text-align:center; padding-top:30px; color:#535074; font-size:15px;}
